body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    box-sizing: border-box;
    width: 100%;
    max-width: 75em;
    padding: 0 1em;
}

li:has(> img) {
   display: grid;
   grid-auto-flow: column;
   grid-template-rows: auto auto;
   grid-template-columns: repeat(4, 230px);
   column-gap: 0.5em;
}
