/* Style for img and linked-img with descriptions (230px cards) */
p:has(> a + em),
p:has(> img + em) {
   display: grid;
   grid-auto-flow: column;
   grid-template-rows: auto auto;
   grid-template-columns: repeat(4, 230px);
   column-gap: 0.5em;
}
