---
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

li:has(> img + em) {
   display: grid;
   grid-auto-flow: column;
   grid-template-rows: auto auto;
   grid-template-columns: repeat(4, 230px);
   column-gap: 0.5em;
}